Manifest.toml
.ipynb_checkpoints
*~
#*
.DS_Store
sandbox/
/docs/build/
/docs/site/
/docs/Manifest.toml
.vscode
/slides/talk_src/*.png
/slides/talk_src/*.pdf
/slides/talk_src/*.xml
/slides/talk_src/_region_
*.aux
*.bbl
*.toc
*.out

